---
layout: default
title: index
banner: intro.html
---

<!-- Main -->
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Portfolio -->
        <section>
          <header class="major">
            <h2>My Portfolio</h2>
          </header>
          <div class="row">
            {% include portfolios.html %}
          </div>
        </section>

      </div>
      <div class="col-12">

        <!-- Blog -->
        <section>
          <header class="major">
            <h2>The Blog</h2>
          </header>
          <div class="row">
              {% include blogposts.html %}
          </div>
        </section>

      </div>
    </div>
  </div>
</section>