
<!-- Nav -->
<!---
	<nav id="nav">
		<ul>
			<li><a href= 'index.html' class= "{% if page.url contains '/index.html' %} current {% endif %}">Home</a></li>
			<li >
				<a href="#" class="smooth">Dropdown</a>
				<ul>
					<li><a href="#">Lorem ipsum dolor</a></li>
					<li><a href="#">Magna phasellus</a></li>
					<li><a href="#">Etiam dolore nisl</a></li>
					<li>
						<a href="#">Phasellus consequat</a>
						<ul>
							<li><a href="#">Magna phasellus</a></li>
							<li><a href="#">Etiam dolore nisl</a></li>
							<li><a href="#">Veroeros feugiat</a></li>
							<li><a href="#">Nisl sed aliquam</a></li>
							<li><a href="#">Dolore adipiscing</a></li>
						</ul>
					</li>
					<li><a href="#">Veroeros feugiat</a></li>
				</ul>
			</li>
			
			<li><a href= '/left-sidebar.html' class= "{% if page.url contains '/left-sidebar.html' %} current {% endif %}">Left Sidebar</a></li>
			<li><a href= '/right-sidebar.html' class= "{% if page.url contains '/right-sidebar.html' %} current {% endif %}">Right Sidebar</a></li>
			<li><a href= '/no-sidebar.html'class= "{% if page.url contains '/no-sidebar.html' %} current {% endif %}">No Sidebar</a></li>
			{% comment %} {% for link in menu %}
			<li><a href=" {% if forloop.first %}/{% else %}/{{ link }}/{% endif %}" class="{% if page.url contains '/index.html' %} current {% endif %}" >{{ link | upcase }}</a></li>
			{% endfor %}  {% endcomment %}
			
		</ul>
	</nav>
-->
<!-- Nav -->
<nav id="nav">
	{% assign menu = site.data.menu %}
	{% if menu %}
	<ul>
		{% for item in menu %}
		<li class="{% if item.url == page.url %} current {% endif %}">
			<a href="{{ item.url }}">{{ item.page }}</a>
			{% if item.subfolderitems %}
			<ul>
				{% for entry in item.subfolderitems %}
				<li>
					<a href="{{ entry.url }}">{{ entry.page }}</a>
					{% if entry.subsubfolderitems %}
					<ul>
						{% for subentry in entry.subsubfolderitems %}
						<li><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	
	{% endif %}
	
</nav>